<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'



</script>

<template>
  <header>
    <div class="navbar">
      <nav class="navigation">
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
        <RouterLink to="/news">News</RouterLink>
      </nav>
    </div>
  </header>

  <main class="container">
    <RouterView />
  </main>
</template>
