@font-face {
  font-family: "Glacial";
  src: url("fonts/glacial/glacialindifference-regular-webfont.woff2");
}
@font-face {
  font-family: "Glacial Bold";
  src: url("fonts/glacial/glacialindifference-bold-webfont.woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2");
}
@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Medium.woff2");
}
@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2");
}
@font-face {
  font-family: "JetBrains Mono ExtraBold";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraBold.woff2");
}
:root {
  background-color: #000;
  color: #e6e6e6;
  font-size: 16px;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: "JetBrains Mono", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0d0d0d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "JetBrains Mono Bold", monospace;
}

.navbar .navigation a {
  border: 2px solid #e6e6e6;
}
.navbar .navigation a:hover {
  background: #e6e6e6;
  color: #000;
}
.navbar .navigation a.router-link-exact-active {
  color: #000;
  background: #e6e6e6;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
}
.row.space-around {
  align-items: center;
  justify-content: space-around;
}
.row.space-between {
  align-items: center;
  justify-content: space-between;
}
.row.center {
  align-items: center;
  justify-content: center;
}
.row .column {
  padding: 1rem;
}
.row .column p {
  margin: 0;
}
.row p {
  text-align: center;
}

.buttons {
  background: none;
}
.buttons button {
  margin: 1rem;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}
.column.space-around {
  align-items: center;
  justify-content: space-around;
}
.column.space-between {
  align-items: center;
  justify-content: space-between;
}
.column.center {
  align-items: center;
  justify-content: center;
}

a {
  color: #e6e6e6;
}
a:hover {
  color: #fff;
}

input,
button {
  background: #0d0d0d;
  color: #fff;
  font-family: inherit;
  outline: none;
  padding: 1rem 1.5rem;
}

button {
  border: none;
  box-shadow: 0 1px 3px rgba(13, 13, 13, 0.12), 0 1px 2px rgba(13, 13, 13, 0.24);
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button:hover {
  background: #262626;
  box-shadow: 0 14px 28px rgba(13, 13, 13, 0.25), 0 10px 10px rgba(13, 13, 13, 0.22);
  cursor: pointer;
}
button:active {
  background: #404040;
  box-shadow: 0 14px 28px rgba(13, 13, 13, 0.25), 0 10px 10px rgba(13, 13, 13, 0.22);
}
button.alt {
  background: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000;
}
button.alt:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
button.warning {
  box-shadow: 0 0 15px 5px rgba(196, 69, 54, 0.5);
}

input,
.textarea {
  background: #0d0d0d;
  border: 0;
  border-bottom: 2px solid #003459;
  cursor: text;
}
input.error,
.textarea.error {
  border-color: #c44536;
  box-shadow: 0 8px 10px -5px #c44536;
}

.textarea {
  color: #e6e6e6;
  font-family: Glacial, sans-serif;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
  width: 100%;
}
.textarea:focus, .textarea:focus-within, .textarea:active {
  border: 1px solid #000;
}

.checkbox-container {
  cursor: pointer;
  display: block;
  margin: 2rem;
  padding-left: 35px;
  position: relative;
  user-select: none;
}
.checkbox-container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}
.checkbox-container .checkmark {
  background-color: #000;
  border: 2px solid #000;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}
.checkbox-container .checkmark::after {
  border: solid #000;
  border-width: 0 3px 3px 0;
  content: "";
  display: none;
  height: 10px;
  left: 9px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  width: 5px;
}
.checkbox-container .checkmark.checked::after {
  display: block;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section.body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loader {
  display: none;
  background: #000;
  width: 100vw;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  max-width: 85vw;
  width: 1280px;
}

article {
  padding: 2rem;
  width: calc(100% - 4rem);
}

.heading {
  align-items: flex-start;
  background: #0d0d0d;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5);
  justify-content: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-align: left;
  width: calc(85vw - 2rem);
  z-index: 2;
}
.heading h1 {
  margin: 0.5rem;
  text-align: left;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.output strong, .output p {
  margin-bottom: 0.5rem;
}
.output .output-text {
  margin-right: 0.5rem;
  text-align: left;
  white-space: initial;
  word-wrap: break-word;
  width: calc(100% - 8rem);
}
.output button {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background: #0d0d0d;
  box-shadow: 0 0 15px 5px rgba(13, 13, 13, 0.3);
  margin: 2rem 0;
  min-width: 50%;
  cursor: pointer;
}
.dropzone .imgCard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dropzone .imgCard img {
  max-width: calc(80% - 4rem);
}
.dropzone input {
  display: none;
}
.dropzone.error {
  border: 2px solid #c44536;
  box-shadow: 0 0 15px 5px #c44536;
}

.file-label {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.preview-container {
  display: flex;
  margin: 0 0 2rem 0;
  justify-content: space-between;
}

.preview-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  border: 1px solid #000;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0.5rem;
}
.preview-card .row {
  align-items: center;
  justify-content: center;
  padding: 0 0 0 0.5rem;
  text-align: center;
  max-width: calc(100% - 0.5rem);
}
.preview-card .row p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.preview-card .row:nth-child(2) {
  bottom: 0;
  position: absolute;
  border-top: 1px solid #000;
}
.preview-card .row button {
  margin: 0 0 0 1rem;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #000;
}
.splash .lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.splash .lds div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.splash .lds div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.splash .lds div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.splash .lds div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.custom-select {
  position: relative;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
  margin-bottom: 2rem;
}

.custom-select .selected {
  background-color: #0d0d0d;
  border-bottom: 2px solid #003459;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border-bottom: 2px solid #003459;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #e6e6e6 transparent transparent transparent;
}

.custom-select .items {
  overflow: hidden;
  border-right: 1px solid #003459;
  border-left: 1px solid #003459;
  border-bottom: 1px solid #003459;
  position: absolute;
  background-color: #0d0d0d;
  left: 0;
  right: 0;
  z-index: 1;
}

.custom-select .items div {
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: #262626;
}

.selectHide {
  display: none;
}

.theme_icon {
  filter: invert(60%) sepia(84%) saturate(317%) hue-rotate(144deg) brightness(89%) contrast(87%);
}

.theme-toggle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-right-3 {
  margin-right: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

.margin-right-4 {
  margin-right: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-right-5 {
  margin-right: 5rem;
}

.margin-bottom-6 {
  margin-bottom: 6rem;
}

.margin-top-6 {
  margin-top: 6rem;
}

.margin-left-6 {
  margin-left: 6rem;
}

.margin-right-6 {
  margin-right: 6rem;
}

.margin-bottom-7 {
  margin-bottom: 7rem;
}

.margin-top-7 {
  margin-top: 7rem;
}

.margin-left-7 {
  margin-left: 7rem;
}

.margin-right-7 {
  margin-right: 7rem;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-left-8 {
  margin-left: 8rem;
}

.margin-right-8 {
  margin-right: 8rem;
}

.slide-left-enter-active {
  -webkit-animation: fadeIn 0.5s both; /* attach the animation to bar rather than baz */
  animation: fadeIn 0.5s both;
  transition: all 0.5s ease-in-out;
}

.slide-left-leave-active {
  -webkit-animation: fadeOut 0.5s both; /* attach the animation to bar rather than baz */
  animation: fadeOut 0.5s both;
  transition: all 0.5s ease-in-out;
}

.slide-left-enter, .slide-left-leave-to {
  transform: translateX(85vw);
  z-index: 2;
}

.slide-left-enter-to {
  position: absolute;
  width: 85vw;
  top: 72px;
  left: -75vw;
  transform: translateX(90vw);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
main {
  margin: 3rem 3rem 0 3rem;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section.body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loader {
  display: none;
  background: #000;
  width: 100vw;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  max-width: 85vw;
  width: 1280px;
}

article {
  padding: 2rem;
  width: calc(100% - 4rem);
}

.heading {
  align-items: flex-start;
  background: #0d0d0d;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5);
  justify-content: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-align: left;
  width: calc(85vw - 2rem);
  z-index: 2;
}
.heading h1 {
  margin: 0.5rem;
  text-align: left;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.output strong, .output p {
  margin-bottom: 0.5rem;
}
.output .output-text {
  margin-right: 0.5rem;
  text-align: left;
  white-space: initial;
  word-wrap: break-word;
  width: calc(100% - 8rem);
}
.output button {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

.card {
  border: 2px solid #e6e6e6;
  box-shadow: -10px 10px 0 white;
  margin-bottom: 4rem;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card a:first-child {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  text-decoration: none;
}
.card input {
  max-width: 100%;
  width: 100%;
}
.card .card__img-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.card .card__img-container img {
  height: 300px;
  position: absolute;
  top: 0;
  left: -50%;
}
.card .row {
  margin: 0;
}
.card .row input {
  margin-right: 0.5rem;
}
.card button {
  margin-bottom: 1rem;
}
.card:hover {
  background: #e6e6e6;
  color: #000;
  cursor: pointer;
  box-shadow: 0 0 0 white;
}
.card:hover h1, .card:hover h2, .card:hover h3, .card:hover h4, .card:hover h5, .card:hover p, .card:hover a {
  color: #000;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 1rem;
  width: 100vw;
}
.navbar .navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-self: flex-start;
  padding: 0 1rem;
}
.navbar .navigation a {
  border: 2px solid #e6e6e6;
  margin-right: 1rem;
  transition: all 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
}
.navbar .navigation a:hover {
  background: #e6e6e6;
  color: #000;
  display: inline-block;
  padding-bottom: calc(1rem - 3px);
  clip-path: polygon(100% 0, 100% 70%, 80% 100%, 0 100%, 0 0);
}
.navbar a, .navbar p {
  padding: 1rem 1.5rem;
  text-decoration: none;
}
.navbar a span, .navbar p span {
  display: none;
}
.navbar a.router-link-exact-active {
  color: #000;
  display: inline-block;
  background: #e6e6e6;
  clip-path: polygon(100% 0, 100% 70%, 80% 100%, 0 100%, 0 0);
}

.theme-toggle .icofont {
  color: #e6e6e6;
}

/*# sourceMappingURL=styles.css.map */
