@font-face {
  font-family: 'Glacial';
  src: url('fonts/glacial/glacialindifference-regular-webfont.woff2');
}

@font-face {
  font-family: 'Glacial Bold';
  src: url('fonts/glacial/glacialindifference-bold-webfont.woff2');
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: "JetBrains Mono Medium";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Medium.woff2");
}

@font-face {
  font-family: "JetBrains Mono Bold";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2");
}

@font-face {
  font-family: "JetBrains Mono ExtraBold";
  src: url("fonts/JetBrainsMono/webfonts/JetBrainsMono-ExtraBold.woff2");
}

$font-main: "JetBrains Mono", monospace;
$font-bold: "JetBrains Mono Bold", monospace;
$font-extra-bold: "JetBrains Mono ExtraBold", monospace;

@import "scss/variables-dark";

.theme-toggle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}

@for $i from 1 through 8 {
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .margin-top-#{$i} {
      margin-top: #{$i}rem;
  }

  .margin-left-#{$i} {
      margin-left: #{$i}rem;
  }

  .margin-right-#{$i} {
      margin-right: #{$i}rem;
  }
}


// custom animations

.slide-left-enter-active {
  -webkit-animation: fadeIn .5s both; /* attach the animation to bar rather than baz */
  animation: fadeIn .5s both;
  transition: all .5s ease-in-out;
}
.slide-left-leave-active {
  -webkit-animation: fadeOut .5s both; /* attach the animation to bar rather than baz */
  animation: fadeOut .5s both;
  transition: all .5s ease-in-out;
}
.slide-left-enter, .slide-left-leave-to{
  transform: translateX(85vw);
  z-index: 2;
}

.slide-left-enter-to {
  position: absolute;
  width: 85vw;
  top: 72px;
  left: -75vw;
  transform: translateX(90vw);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}

// Containers

main {
  margin: 3rem 3rem 0 3rem;
}

// ------------------------------------------------------------------------------------
// Main Containers
// ------------------------------------------------------------------------------------

#app {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

section.body {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.loader {
  display: none;
  background: $text-colour-active;
  width: 100vw;
  height: 10px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  max-width: 85vw;
  width: 1280px;
}

article {
  padding: 2rem;
  width: calc(100% - 4rem);
}

.heading {
  align-items: flex-start;
  background: $nav-bg;
  box-shadow: $heading-shadow;
  justify-content: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  text-align: left;
  width: calc(85vw - 2rem);
  z-index: 2;

  h1 {
    margin: .5rem;
    text-align: left;
  }
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  strong, p {
    margin-bottom: .5rem;
  }

  .output-text {
    margin-right: .5rem;
    text-align: left;
    white-space: initial;
    word-wrap: break-word;
    width: calc(100% - 8rem);
  }

  button {
    margin-bottom: 0;
  }
}

.hide {
  display: none;
}

.no-margin {
  margin: 0 !important;
}

// Card

.card {
  border: 2px solid $text-colour;
  box-shadow: -10px 10px 0 white;
  margin-bottom: 4rem;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);

  a:first-child {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    text-decoration: none;
  }

  input {
    max-width: 100%;
    width: 100%;
  }

  .card__img-container {
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      height: 300px;
      position:absolute;
      top: 0;
      left: -50%;
    }
  }

  .row {
    margin: 0;
    input {
      margin-right: .5rem;
    }
  }

  button {
    margin-bottom: 1rem;
  }

  &:hover {
    background: $text-colour;
    color: $text-colour-active;
    cursor: pointer;
    box-shadow: 0 0 0 white;

    h1, h2, h3, h4, h5, p, a {
      color: $text-colour-active;
    }
  }
}

// Navigation

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 1rem;
  width: 100vw;

  .navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-self: flex-start;
    padding: 0 1rem;

    a {
      border: 2px solid $text-colour;
      margin-right: 1rem;
      transition: all 250ms cubic-bezier(.25,.8,.25,1);
      clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
    }

    a:hover {
      background: $text-colour;
      color: $text-colour-active;
      display: inline-block;
      padding-bottom: calc(1rem - 3px);
      clip-path: polygon(100% 0, 100% 70%, 80% 100%, 0 100%, 0 0);
    }
  }

  a, p {
    padding: 1rem 1.5rem;
    text-decoration: none;

    span {
      display: none;
    }
  }

  a.router-link-exact-active {
    color: $text-colour-active;
    display: inline-block;
    background: $text-colour;
    clip-path: polygon(100% 0, 100% 70%, 80% 100%, 0 100%, 0 0);
  }
}

.theme-toggle {
  .icofont {
    color: $text-colour;
  }
}
