body {
  background-image: radial-gradient(#021027, #000000);
}

.container {
  width: 100%;
  height: 100%;
}

.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(hsl(180, 100%, 80%), hsl(180, 100%, 80%) 10%, hsla(180, 100%, 80%, 0) 56%);
  animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.circle-container:nth-child(1) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-1;
  animation-duration: 10280ms;
  animation-delay: 7819ms;
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(66vw, 101vh, 0);
  }
  to {
    transform: translate3d(5vw, -115vh, 0);
  }
}
.circle-container:nth-child(1) .circle {
  animation-delay: 1160ms;
}
.circle-container:nth-child(2) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-2;
  animation-duration: 8718ms;
  animation-delay: 4910ms;
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(6vw, 104vh, 0);
  }
  to {
    transform: translate3d(20vw, -129vh, 0);
  }
}
.circle-container:nth-child(2) .circle {
  animation-delay: 1273ms;
}
.circle-container:nth-child(3) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-3;
  animation-duration: 7396ms;
  animation-delay: 5304ms;
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(18vw, 103vh, 0);
  }
  to {
    transform: translate3d(18vw, -119vh, 0);
  }
}
.circle-container:nth-child(3) .circle {
  animation-delay: 435ms;
}
.circle-container:nth-child(4) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-4;
  animation-duration: 9303ms;
  animation-delay: 9629ms;
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(46vw, 104vh, 0);
  }
  to {
    transform: translate3d(43vw, -114vh, 0);
  }
}
.circle-container:nth-child(4) .circle {
  animation-delay: 1628ms;
}
.circle-container:nth-child(5) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-5;
  animation-duration: 7620ms;
  animation-delay: 7640ms;
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(80vw, 106vh, 0);
  }
  to {
    transform: translate3d(46vw, -123vh, 0);
  }
}
.circle-container:nth-child(5) .circle {
  animation-delay: 2581ms;
}
.circle-container:nth-child(6) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-6;
  animation-duration: 8331ms;
  animation-delay: 9063ms;
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(72vw, 107vh, 0);
  }
  to {
    transform: translate3d(32vw, -121vh, 0);
  }
}
.circle-container:nth-child(6) .circle {
  animation-delay: 676ms;
}
.circle-container:nth-child(7) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-7;
  animation-duration: 9050ms;
  animation-delay: 5153ms;
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(71vw, 109vh, 0);
  }
  to {
    transform: translate3d(55vw, -111vh, 0);
  }
}
.circle-container:nth-child(7) .circle {
  animation-delay: 3319ms;
}
.circle-container:nth-child(8) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-8;
  animation-duration: 7571ms;
  animation-delay: 5021ms;
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(27vw, 103vh, 0);
  }
  to {
    transform: translate3d(97vw, -122vh, 0);
  }
}
.circle-container:nth-child(8) .circle {
  animation-delay: 2592ms;
}
.circle-container:nth-child(9) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-9;
  animation-duration: 10041ms;
  animation-delay: 3859ms;
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(71vw, 106vh, 0);
  }
  to {
    transform: translate3d(32vw, -107vh, 0);
  }
}
.circle-container:nth-child(9) .circle {
  animation-delay: 2043ms;
}
.circle-container:nth-child(10) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-10;
  animation-duration: 7905ms;
  animation-delay: 36ms;
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(71vw, 102vh, 0);
  }
  to {
    transform: translate3d(10vw, -124vh, 0);
  }
}
.circle-container:nth-child(10) .circle {
  animation-delay: 2746ms;
}
.circle-container:nth-child(11) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-11;
  animation-duration: 9520ms;
  animation-delay: 3783ms;
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(33vw, 106vh, 0);
  }
  to {
    transform: translate3d(1vw, -111vh, 0);
  }
}
.circle-container:nth-child(11) .circle {
  animation-delay: 1240ms;
}
.circle-container:nth-child(12) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-12;
  animation-duration: 10370ms;
  animation-delay: 8041ms;
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(49vw, 103vh, 0);
  }
  to {
    transform: translate3d(48vw, -126vh, 0);
  }
}
.circle-container:nth-child(12) .circle {
  animation-delay: 2969ms;
}
.circle-container:nth-child(13) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-13;
  animation-duration: 9683ms;
  animation-delay: 8497ms;
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(36vw, 107vh, 0);
  }
  to {
    transform: translate3d(21vw, -117vh, 0);
  }
}
.circle-container:nth-child(13) .circle {
  animation-delay: 1417ms;
}
.circle-container:nth-child(14) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-14;
  animation-duration: 8399ms;
  animation-delay: 1391ms;
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(81vw, 103vh, 0);
  }
  to {
    transform: translate3d(20vw, -129vh, 0);
  }
}
.circle-container:nth-child(14) .circle {
  animation-delay: 2033ms;
}
.circle-container:nth-child(15) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-15;
  animation-duration: 7714ms;
  animation-delay: 5867ms;
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(15vw, 107vh, 0);
  }
  to {
    transform: translate3d(9vw, -125vh, 0);
  }
}
.circle-container:nth-child(15) .circle {
  animation-delay: 1319ms;
}
.circle-container:nth-child(16) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-16;
  animation-duration: 7207ms;
  animation-delay: 9627ms;
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(56vw, 109vh, 0);
  }
  to {
    transform: translate3d(60vw, -137vh, 0);
  }
}
.circle-container:nth-child(16) .circle {
  animation-delay: 5ms;
}
.circle-container:nth-child(17) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-17;
  animation-duration: 8034ms;
  animation-delay: 7514ms;
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(97vw, 108vh, 0);
  }
  to {
    transform: translate3d(48vw, -113vh, 0);
  }
}
.circle-container:nth-child(17) .circle {
  animation-delay: 3591ms;
}
.circle-container:nth-child(18) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-18;
  animation-duration: 7988ms;
  animation-delay: 3839ms;
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(42vw, 104vh, 0);
  }
  to {
    transform: translate3d(73vw, -130vh, 0);
  }
}
.circle-container:nth-child(18) .circle {
  animation-delay: 1520ms;
}
.circle-container:nth-child(19) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-19;
  animation-duration: 7073ms;
  animation-delay: 577ms;
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(3vw, 105vh, 0);
  }
  to {
    transform: translate3d(71vw, -127vh, 0);
  }
}
.circle-container:nth-child(19) .circle {
  animation-delay: 3866ms;
}
.circle-container:nth-child(20) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-20;
  animation-duration: 8313ms;
  animation-delay: 4665ms;
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(56vw, 106vh, 0);
  }
  to {
    transform: translate3d(46vw, -108vh, 0);
  }
}
.circle-container:nth-child(20) .circle {
  animation-delay: 3606ms;
}
.circle-container:nth-child(21) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-21;
  animation-duration: 10708ms;
  animation-delay: 5744ms;
}
@keyframes move-frames-21 {
  from {
    transform: translate3d(34vw, 103vh, 0);
  }
  to {
    transform: translate3d(82vw, -126vh, 0);
  }
}
.circle-container:nth-child(21) .circle {
  animation-delay: 212ms;
}
.circle-container:nth-child(22) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-22;
  animation-duration: 9514ms;
  animation-delay: 7804ms;
}
@keyframes move-frames-22 {
  from {
    transform: translate3d(5vw, 103vh, 0);
  }
  to {
    transform: translate3d(66vw, -121vh, 0);
  }
}
.circle-container:nth-child(22) .circle {
  animation-delay: 1914ms;
}
.circle-container:nth-child(23) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-23;
  animation-duration: 7525ms;
  animation-delay: 2072ms;
}
@keyframes move-frames-23 {
  from {
    transform: translate3d(42vw, 106vh, 0);
  }
  to {
    transform: translate3d(23vw, -125vh, 0);
  }
}
.circle-container:nth-child(23) .circle {
  animation-delay: 1395ms;
}
.circle-container:nth-child(24) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-24;
  animation-duration: 10825ms;
  animation-delay: 9586ms;
}
@keyframes move-frames-24 {
  from {
    transform: translate3d(54vw, 103vh, 0);
  }
  to {
    transform: translate3d(78vw, -106vh, 0);
  }
}
.circle-container:nth-child(24) .circle {
  animation-delay: 1577ms;
}
.circle-container:nth-child(25) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-25;
  animation-duration: 7393ms;
  animation-delay: 5193ms;
}
@keyframes move-frames-25 {
  from {
    transform: translate3d(95vw, 102vh, 0);
  }
  to {
    transform: translate3d(65vw, -124vh, 0);
  }
}
.circle-container:nth-child(25) .circle {
  animation-delay: 3643ms;
}
.circle-container:nth-child(26) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-26;
  animation-duration: 8989ms;
  animation-delay: 4500ms;
}
@keyframes move-frames-26 {
  from {
    transform: translate3d(4vw, 101vh, 0);
  }
  to {
    transform: translate3d(5vw, -110vh, 0);
  }
}
.circle-container:nth-child(26) .circle {
  animation-delay: 1755ms;
}
.circle-container:nth-child(27) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-27;
  animation-duration: 10675ms;
  animation-delay: 4434ms;
}
@keyframes move-frames-27 {
  from {
    transform: translate3d(41vw, 105vh, 0);
  }
  to {
    transform: translate3d(43vw, -108vh, 0);
  }
}
.circle-container:nth-child(27) .circle {
  animation-delay: 3692ms;
}
.circle-container:nth-child(28) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-28;
  animation-duration: 9895ms;
  animation-delay: 585ms;
}
@keyframes move-frames-28 {
  from {
    transform: translate3d(50vw, 103vh, 0);
  }
  to {
    transform: translate3d(100vw, -119vh, 0);
  }
}
.circle-container:nth-child(28) .circle {
  animation-delay: 735ms;
}
.circle-container:nth-child(29) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-29;
  animation-duration: 9419ms;
  animation-delay: 2065ms;
}
@keyframes move-frames-29 {
  from {
    transform: translate3d(57vw, 106vh, 0);
  }
  to {
    transform: translate3d(22vw, -116vh, 0);
  }
}
.circle-container:nth-child(29) .circle {
  animation-delay: 675ms;
}
.circle-container:nth-child(30) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-30;
  animation-duration: 9017ms;
  animation-delay: 4916ms;
}
@keyframes move-frames-30 {
  from {
    transform: translate3d(9vw, 110vh, 0);
  }
  to {
    transform: translate3d(30vw, -126vh, 0);
  }
}
.circle-container:nth-child(30) .circle {
  animation-delay: 3591ms;
}
.circle-container:nth-child(31) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-31;
  animation-duration: 8167ms;
  animation-delay: 5599ms;
}
@keyframes move-frames-31 {
  from {
    transform: translate3d(86vw, 102vh, 0);
  }
  to {
    transform: translate3d(87vw, -114vh, 0);
  }
}
.circle-container:nth-child(31) .circle {
  animation-delay: 2637ms;
}
.circle-container:nth-child(32) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-32;
  animation-duration: 7890ms;
  animation-delay: 3099ms;
}
@keyframes move-frames-32 {
  from {
    transform: translate3d(2vw, 107vh, 0);
  }
  to {
    transform: translate3d(45vw, -114vh, 0);
  }
}
.circle-container:nth-child(32) .circle {
  animation-delay: 3674ms;
}
.circle-container:nth-child(33) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-33;
  animation-duration: 9162ms;
  animation-delay: 1693ms;
}
@keyframes move-frames-33 {
  from {
    transform: translate3d(29vw, 103vh, 0);
  }
  to {
    transform: translate3d(26vw, -119vh, 0);
  }
}
.circle-container:nth-child(33) .circle {
  animation-delay: 2448ms;
}
.circle-container:nth-child(34) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-34;
  animation-duration: 7769ms;
  animation-delay: 3457ms;
}
@keyframes move-frames-34 {
  from {
    transform: translate3d(1vw, 109vh, 0);
  }
  to {
    transform: translate3d(93vw, -136vh, 0);
  }
}
.circle-container:nth-child(34) .circle {
  animation-delay: 3933ms;
}
.circle-container:nth-child(35) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-35;
  animation-duration: 9769ms;
  animation-delay: 4580ms;
}
@keyframes move-frames-35 {
  from {
    transform: translate3d(27vw, 105vh, 0);
  }
  to {
    transform: translate3d(97vw, -116vh, 0);
  }
}
.circle-container:nth-child(35) .circle {
  animation-delay: 1914ms;
}
.circle-container:nth-child(36) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-36;
  animation-duration: 9932ms;
  animation-delay: 3265ms;
}
@keyframes move-frames-36 {
  from {
    transform: translate3d(36vw, 104vh, 0);
  }
  to {
    transform: translate3d(55vw, -130vh, 0);
  }
}
.circle-container:nth-child(36) .circle {
  animation-delay: 2176ms;
}
.circle-container:nth-child(37) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-37;
  animation-duration: 7399ms;
  animation-delay: 4252ms;
}
@keyframes move-frames-37 {
  from {
    transform: translate3d(70vw, 103vh, 0);
  }
  to {
    transform: translate3d(100vw, -117vh, 0);
  }
}
.circle-container:nth-child(37) .circle {
  animation-delay: 3262ms;
}
.circle-container:nth-child(38) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-38;
  animation-duration: 10220ms;
  animation-delay: 7534ms;
}
@keyframes move-frames-38 {
  from {
    transform: translate3d(50vw, 110vh, 0);
  }
  to {
    transform: translate3d(38vw, -113vh, 0);
  }
}
.circle-container:nth-child(38) .circle {
  animation-delay: 662ms;
}
.circle-container:nth-child(39) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-39;
  animation-duration: 7920ms;
  animation-delay: 5324ms;
}
@keyframes move-frames-39 {
  from {
    transform: translate3d(26vw, 102vh, 0);
  }
  to {
    transform: translate3d(4vw, -132vh, 0);
  }
}
.circle-container:nth-child(39) .circle {
  animation-delay: 544ms;
}
.circle-container:nth-child(40) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-40;
  animation-duration: 9172ms;
  animation-delay: 7457ms;
}
@keyframes move-frames-40 {
  from {
    transform: translate3d(39vw, 108vh, 0);
  }
  to {
    transform: translate3d(85vw, -126vh, 0);
  }
}
.circle-container:nth-child(40) .circle {
  animation-delay: 215ms;
}
.circle-container:nth-child(41) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-41;
  animation-duration: 8075ms;
  animation-delay: 8465ms;
}
@keyframes move-frames-41 {
  from {
    transform: translate3d(94vw, 108vh, 0);
  }
  to {
    transform: translate3d(17vw, -114vh, 0);
  }
}
.circle-container:nth-child(41) .circle {
  animation-delay: 43ms;
}
.circle-container:nth-child(42) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-42;
  animation-duration: 9290ms;
  animation-delay: 1103ms;
}
@keyframes move-frames-42 {
  from {
    transform: translate3d(94vw, 108vh, 0);
  }
  to {
    transform: translate3d(46vw, -134vh, 0);
  }
}
.circle-container:nth-child(42) .circle {
  animation-delay: 1071ms;
}
.circle-container:nth-child(43) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-43;
  animation-duration: 9509ms;
  animation-delay: 5266ms;
}
@keyframes move-frames-43 {
  from {
    transform: translate3d(10vw, 107vh, 0);
  }
  to {
    transform: translate3d(2vw, -125vh, 0);
  }
}
.circle-container:nth-child(43) .circle {
  animation-delay: 429ms;
}
.circle-container:nth-child(44) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-44;
  animation-duration: 7919ms;
  animation-delay: 3065ms;
}
@keyframes move-frames-44 {
  from {
    transform: translate3d(70vw, 108vh, 0);
  }
  to {
    transform: translate3d(55vw, -119vh, 0);
  }
}
.circle-container:nth-child(44) .circle {
  animation-delay: 3890ms;
}
.circle-container:nth-child(45) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-45;
  animation-duration: 8165ms;
  animation-delay: 9877ms;
}
@keyframes move-frames-45 {
  from {
    transform: translate3d(94vw, 109vh, 0);
  }
  to {
    transform: translate3d(51vw, -131vh, 0);
  }
}
.circle-container:nth-child(45) .circle {
  animation-delay: 2168ms;
}
.circle-container:nth-child(46) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-46;
  animation-duration: 9438ms;
  animation-delay: 959ms;
}
@keyframes move-frames-46 {
  from {
    transform: translate3d(65vw, 101vh, 0);
  }
  to {
    transform: translate3d(17vw, -113vh, 0);
  }
}
.circle-container:nth-child(46) .circle {
  animation-delay: 3516ms;
}
.circle-container:nth-child(47) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-47;
  animation-duration: 10040ms;
  animation-delay: 1674ms;
}
@keyframes move-frames-47 {
  from {
    transform: translate3d(65vw, 101vh, 0);
  }
  to {
    transform: translate3d(94vw, -126vh, 0);
  }
}
.circle-container:nth-child(47) .circle {
  animation-delay: 2056ms;
}
.circle-container:nth-child(48) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-48;
  animation-duration: 7625ms;
  animation-delay: 10496ms;
}
@keyframes move-frames-48 {
  from {
    transform: translate3d(90vw, 104vh, 0);
  }
  to {
    transform: translate3d(83vw, -117vh, 0);
  }
}
.circle-container:nth-child(48) .circle {
  animation-delay: 3472ms;
}
.circle-container:nth-child(49) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-49;
  animation-duration: 9083ms;
  animation-delay: 3662ms;
}
@keyframes move-frames-49 {
  from {
    transform: translate3d(12vw, 109vh, 0);
  }
  to {
    transform: translate3d(22vw, -119vh, 0);
  }
}
.circle-container:nth-child(49) .circle {
  animation-delay: 491ms;
}
.circle-container:nth-child(50) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-50;
  animation-duration: 8753ms;
  animation-delay: 670ms;
}
@keyframes move-frames-50 {
  from {
    transform: translate3d(94vw, 104vh, 0);
  }
  to {
    transform: translate3d(24vw, -126vh, 0);
  }
}
.circle-container:nth-child(50) .circle {
  animation-delay: 503ms;
}
.circle-container:nth-child(51) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-51;
  animation-duration: 10156ms;
  animation-delay: 5179ms;
}
@keyframes move-frames-51 {
  from {
    transform: translate3d(99vw, 109vh, 0);
  }
  to {
    transform: translate3d(32vw, -131vh, 0);
  }
}
.circle-container:nth-child(51) .circle {
  animation-delay: 998ms;
}
.circle-container:nth-child(52) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-52;
  animation-duration: 9150ms;
  animation-delay: 2908ms;
}
@keyframes move-frames-52 {
  from {
    transform: translate3d(87vw, 101vh, 0);
  }
  to {
    transform: translate3d(7vw, -118vh, 0);
  }
}
.circle-container:nth-child(52) .circle {
  animation-delay: 3827ms;
}
.circle-container:nth-child(53) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-53;
  animation-duration: 9570ms;
  animation-delay: 10233ms;
}
@keyframes move-frames-53 {
  from {
    transform: translate3d(92vw, 110vh, 0);
  }
  to {
    transform: translate3d(2vw, -140vh, 0);
  }
}
.circle-container:nth-child(53) .circle {
  animation-delay: 1317ms;
}
.circle-container:nth-child(54) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-54;
  animation-duration: 7521ms;
  animation-delay: 4594ms;
}
@keyframes move-frames-54 {
  from {
    transform: translate3d(38vw, 102vh, 0);
  }
  to {
    transform: translate3d(46vw, -120vh, 0);
  }
}
.circle-container:nth-child(54) .circle {
  animation-delay: 22ms;
}
.circle-container:nth-child(55) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-55;
  animation-duration: 10507ms;
  animation-delay: 9542ms;
}
@keyframes move-frames-55 {
  from {
    transform: translate3d(96vw, 105vh, 0);
  }
  to {
    transform: translate3d(71vw, -128vh, 0);
  }
}
.circle-container:nth-child(55) .circle {
  animation-delay: 1998ms;
}
.circle-container:nth-child(56) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-56;
  animation-duration: 8142ms;
  animation-delay: 3227ms;
}
@keyframes move-frames-56 {
  from {
    transform: translate3d(13vw, 105vh, 0);
  }
  to {
    transform: translate3d(23vw, -122vh, 0);
  }
}
.circle-container:nth-child(56) .circle {
  animation-delay: 609ms;
}
.circle-container:nth-child(57) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-57;
  animation-duration: 10810ms;
  animation-delay: 3751ms;
}
@keyframes move-frames-57 {
  from {
    transform: translate3d(46vw, 105vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
.circle-container:nth-child(57) .circle {
  animation-delay: 924ms;
}
.circle-container:nth-child(58) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-58;
  animation-duration: 9729ms;
  animation-delay: 3854ms;
}
@keyframes move-frames-58 {
  from {
    transform: translate3d(10vw, 103vh, 0);
  }
  to {
    transform: translate3d(85vw, -120vh, 0);
  }
}
.circle-container:nth-child(58) .circle {
  animation-delay: 1418ms;
}
.circle-container:nth-child(59) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-59;
  animation-duration: 9897ms;
  animation-delay: 9721ms;
}
@keyframes move-frames-59 {
  from {
    transform: translate3d(86vw, 105vh, 0);
  }
  to {
    transform: translate3d(17vw, -122vh, 0);
  }
}
.circle-container:nth-child(59) .circle {
  animation-delay: 852ms;
}
.circle-container:nth-child(60) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-60;
  animation-duration: 10972ms;
  animation-delay: 5456ms;
}
@keyframes move-frames-60 {
  from {
    transform: translate3d(93vw, 101vh, 0);
  }
  to {
    transform: translate3d(35vw, -112vh, 0);
  }
}
.circle-container:nth-child(60) .circle {
  animation-delay: 2032ms;
}
.circle-container:nth-child(61) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-61;
  animation-duration: 8546ms;
  animation-delay: 7685ms;
}
@keyframes move-frames-61 {
  from {
    transform: translate3d(82vw, 107vh, 0);
  }
  to {
    transform: translate3d(73vw, -116vh, 0);
  }
}
.circle-container:nth-child(61) .circle {
  animation-delay: 899ms;
}
.circle-container:nth-child(62) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-62;
  animation-duration: 7657ms;
  animation-delay: 3068ms;
}
@keyframes move-frames-62 {
  from {
    transform: translate3d(98vw, 104vh, 0);
  }
  to {
    transform: translate3d(39vw, -126vh, 0);
  }
}
.circle-container:nth-child(62) .circle {
  animation-delay: 1444ms;
}
.circle-container:nth-child(63) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-63;
  animation-duration: 8919ms;
  animation-delay: 4796ms;
}
@keyframes move-frames-63 {
  from {
    transform: translate3d(43vw, 101vh, 0);
  }
  to {
    transform: translate3d(75vw, -131vh, 0);
  }
}
.circle-container:nth-child(63) .circle {
  animation-delay: 1263ms;
}
.circle-container:nth-child(64) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-64;
  animation-duration: 10871ms;
  animation-delay: 7650ms;
}
@keyframes move-frames-64 {
  from {
    transform: translate3d(68vw, 105vh, 0);
  }
  to {
    transform: translate3d(51vw, -108vh, 0);
  }
}
.circle-container:nth-child(64) .circle {
  animation-delay: 3275ms;
}
.circle-container:nth-child(65) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-65;
  animation-duration: 10393ms;
  animation-delay: 9588ms;
}
@keyframes move-frames-65 {
  from {
    transform: translate3d(27vw, 106vh, 0);
  }
  to {
    transform: translate3d(36vw, -135vh, 0);
  }
}
.circle-container:nth-child(65) .circle {
  animation-delay: 3145ms;
}
.circle-container:nth-child(66) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-66;
  animation-duration: 7155ms;
  animation-delay: 2164ms;
}
@keyframes move-frames-66 {
  from {
    transform: translate3d(62vw, 102vh, 0);
  }
  to {
    transform: translate3d(66vw, -120vh, 0);
  }
}
.circle-container:nth-child(66) .circle {
  animation-delay: 2871ms;
}
.circle-container:nth-child(67) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-67;
  animation-duration: 7031ms;
  animation-delay: 7406ms;
}
@keyframes move-frames-67 {
  from {
    transform: translate3d(64vw, 101vh, 0);
  }
  to {
    transform: translate3d(25vw, -106vh, 0);
  }
}
.circle-container:nth-child(67) .circle {
  animation-delay: 502ms;
}
.circle-container:nth-child(68) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-68;
  animation-duration: 10663ms;
  animation-delay: 7549ms;
}
@keyframes move-frames-68 {
  from {
    transform: translate3d(49vw, 104vh, 0);
  }
  to {
    transform: translate3d(56vw, -132vh, 0);
  }
}
.circle-container:nth-child(68) .circle {
  animation-delay: 2864ms;
}
.circle-container:nth-child(69) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-69;
  animation-duration: 9100ms;
  animation-delay: 677ms;
}
@keyframes move-frames-69 {
  from {
    transform: translate3d(56vw, 107vh, 0);
  }
  to {
    transform: translate3d(43vw, -125vh, 0);
  }
}
.circle-container:nth-child(69) .circle {
  animation-delay: 1837ms;
}
.circle-container:nth-child(70) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-70;
  animation-duration: 7348ms;
  animation-delay: 8834ms;
}
@keyframes move-frames-70 {
  from {
    transform: translate3d(35vw, 108vh, 0);
  }
  to {
    transform: translate3d(37vw, -134vh, 0);
  }
}
.circle-container:nth-child(70) .circle {
  animation-delay: 1654ms;
}
.circle-container:nth-child(71) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-71;
  animation-duration: 7801ms;
  animation-delay: 1533ms;
}
@keyframes move-frames-71 {
  from {
    transform: translate3d(90vw, 110vh, 0);
  }
  to {
    transform: translate3d(42vw, -140vh, 0);
  }
}
.circle-container:nth-child(71) .circle {
  animation-delay: 3283ms;
}
.circle-container:nth-child(72) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-72;
  animation-duration: 7723ms;
  animation-delay: 1540ms;
}
@keyframes move-frames-72 {
  from {
    transform: translate3d(83vw, 105vh, 0);
  }
  to {
    transform: translate3d(50vw, -108vh, 0);
  }
}
.circle-container:nth-child(72) .circle {
  animation-delay: 1592ms;
}
.circle-container:nth-child(73) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-73;
  animation-duration: 8648ms;
  animation-delay: 1732ms;
}
@keyframes move-frames-73 {
  from {
    transform: translate3d(45vw, 108vh, 0);
  }
  to {
    transform: translate3d(74vw, -138vh, 0);
  }
}
.circle-container:nth-child(73) .circle {
  animation-delay: 3984ms;
}
.circle-container:nth-child(74) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-74;
  animation-duration: 8337ms;
  animation-delay: 10880ms;
}
@keyframes move-frames-74 {
  from {
    transform: translate3d(74vw, 104vh, 0);
  }
  to {
    transform: translate3d(55vw, -123vh, 0);
  }
}
.circle-container:nth-child(74) .circle {
  animation-delay: 33ms;
}
.circle-container:nth-child(75) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-75;
  animation-duration: 9172ms;
  animation-delay: 1029ms;
}
@keyframes move-frames-75 {
  from {
    transform: translate3d(38vw, 104vh, 0);
  }
  to {
    transform: translate3d(94vw, -107vh, 0);
  }
}
.circle-container:nth-child(75) .circle {
  animation-delay: 1269ms;
}
.circle-container:nth-child(76) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-76;
  animation-duration: 10647ms;
  animation-delay: 4752ms;
}
@keyframes move-frames-76 {
  from {
    transform: translate3d(88vw, 105vh, 0);
  }
  to {
    transform: translate3d(4vw, -134vh, 0);
  }
}
.circle-container:nth-child(76) .circle {
  animation-delay: 2735ms;
}
.circle-container:nth-child(77) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-77;
  animation-duration: 8824ms;
  animation-delay: 10098ms;
}
@keyframes move-frames-77 {
  from {
    transform: translate3d(29vw, 110vh, 0);
  }
  to {
    transform: translate3d(63vw, -114vh, 0);
  }
}
.circle-container:nth-child(77) .circle {
  animation-delay: 2662ms;
}
.circle-container:nth-child(78) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-78;
  animation-duration: 10476ms;
  animation-delay: 10537ms;
}
@keyframes move-frames-78 {
  from {
    transform: translate3d(84vw, 108vh, 0);
  }
  to {
    transform: translate3d(89vw, -120vh, 0);
  }
}
.circle-container:nth-child(78) .circle {
  animation-delay: 2551ms;
}
.circle-container:nth-child(79) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-79;
  animation-duration: 9320ms;
  animation-delay: 3403ms;
}
@keyframes move-frames-79 {
  from {
    transform: translate3d(3vw, 110vh, 0);
  }
  to {
    transform: translate3d(10vw, -111vh, 0);
  }
}
.circle-container:nth-child(79) .circle {
  animation-delay: 50ms;
}
.circle-container:nth-child(80) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-80;
  animation-duration: 7265ms;
  animation-delay: 1203ms;
}
@keyframes move-frames-80 {
  from {
    transform: translate3d(57vw, 109vh, 0);
  }
  to {
    transform: translate3d(96vw, -118vh, 0);
  }
}
.circle-container:nth-child(80) .circle {
  animation-delay: 2753ms;
}
.circle-container:nth-child(81) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-81;
  animation-duration: 9176ms;
  animation-delay: 10214ms;
}
@keyframes move-frames-81 {
  from {
    transform: translate3d(36vw, 110vh, 0);
  }
  to {
    transform: translate3d(6vw, -131vh, 0);
  }
}
.circle-container:nth-child(81) .circle {
  animation-delay: 1994ms;
}
.circle-container:nth-child(82) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-82;
  animation-duration: 8910ms;
  animation-delay: 6381ms;
}
@keyframes move-frames-82 {
  from {
    transform: translate3d(55vw, 108vh, 0);
  }
  to {
    transform: translate3d(96vw, -111vh, 0);
  }
}
.circle-container:nth-child(82) .circle {
  animation-delay: 901ms;
}
.circle-container:nth-child(83) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-83;
  animation-duration: 10004ms;
  animation-delay: 3366ms;
}
@keyframes move-frames-83 {
  from {
    transform: translate3d(72vw, 103vh, 0);
  }
  to {
    transform: translate3d(1vw, -120vh, 0);
  }
}
.circle-container:nth-child(83) .circle {
  animation-delay: 2290ms;
}
.circle-container:nth-child(84) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-84;
  animation-duration: 10354ms;
  animation-delay: 6469ms;
}
@keyframes move-frames-84 {
  from {
    transform: translate3d(99vw, 104vh, 0);
  }
  to {
    transform: translate3d(42vw, -124vh, 0);
  }
}
.circle-container:nth-child(84) .circle {
  animation-delay: 690ms;
}
.circle-container:nth-child(85) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-85;
  animation-duration: 10255ms;
  animation-delay: 9279ms;
}
@keyframes move-frames-85 {
  from {
    transform: translate3d(31vw, 101vh, 0);
  }
  to {
    transform: translate3d(38vw, -104vh, 0);
  }
}
.circle-container:nth-child(85) .circle {
  animation-delay: 947ms;
}
.circle-container:nth-child(86) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-86;
  animation-duration: 7948ms;
  animation-delay: 963ms;
}
@keyframes move-frames-86 {
  from {
    transform: translate3d(90vw, 105vh, 0);
  }
  to {
    transform: translate3d(95vw, -119vh, 0);
  }
}
.circle-container:nth-child(86) .circle {
  animation-delay: 3720ms;
}
.circle-container:nth-child(87) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-87;
  animation-duration: 8268ms;
  animation-delay: 10914ms;
}
@keyframes move-frames-87 {
  from {
    transform: translate3d(7vw, 109vh, 0);
  }
  to {
    transform: translate3d(23vw, -122vh, 0);
  }
}
.circle-container:nth-child(87) .circle {
  animation-delay: 5ms;
}
.circle-container:nth-child(88) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-88;
  animation-duration: 8185ms;
  animation-delay: 5843ms;
}
@keyframes move-frames-88 {
  from {
    transform: translate3d(68vw, 105vh, 0);
  }
  to {
    transform: translate3d(4vw, -122vh, 0);
  }
}
.circle-container:nth-child(88) .circle {
  animation-delay: 3044ms;
}
.circle-container:nth-child(89) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-89;
  animation-duration: 10795ms;
  animation-delay: 7185ms;
}
@keyframes move-frames-89 {
  from {
    transform: translate3d(49vw, 106vh, 0);
  }
  to {
    transform: translate3d(33vw, -134vh, 0);
  }
}
.circle-container:nth-child(89) .circle {
  animation-delay: 950ms;
}
.circle-container:nth-child(90) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-90;
  animation-duration: 7247ms;
  animation-delay: 2606ms;
}
@keyframes move-frames-90 {
  from {
    transform: translate3d(54vw, 105vh, 0);
  }
  to {
    transform: translate3d(54vw, -118vh, 0);
  }
}
.circle-container:nth-child(90) .circle {
  animation-delay: 2608ms;
}
.circle-container:nth-child(91) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-91;
  animation-duration: 9002ms;
  animation-delay: 6441ms;
}
@keyframes move-frames-91 {
  from {
    transform: translate3d(76vw, 102vh, 0);
  }
  to {
    transform: translate3d(48vw, -124vh, 0);
  }
}
.circle-container:nth-child(91) .circle {
  animation-delay: 3553ms;
}
.circle-container:nth-child(92) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-92;
  animation-duration: 10281ms;
  animation-delay: 3700ms;
}
@keyframes move-frames-92 {
  from {
    transform: translate3d(58vw, 105vh, 0);
  }
  to {
    transform: translate3d(79vw, -127vh, 0);
  }
}
.circle-container:nth-child(92) .circle {
  animation-delay: 1697ms;
}
.circle-container:nth-child(93) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-93;
  animation-duration: 8137ms;
  animation-delay: 10136ms;
}
@keyframes move-frames-93 {
  from {
    transform: translate3d(83vw, 103vh, 0);
  }
  to {
    transform: translate3d(18vw, -128vh, 0);
  }
}
.circle-container:nth-child(93) .circle {
  animation-delay: 2330ms;
}
.circle-container:nth-child(94) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-94;
  animation-duration: 8900ms;
  animation-delay: 1237ms;
}
@keyframes move-frames-94 {
  from {
    transform: translate3d(91vw, 106vh, 0);
  }
  to {
    transform: translate3d(78vw, -136vh, 0);
  }
}
.circle-container:nth-child(94) .circle {
  animation-delay: 3309ms;
}
.circle-container:nth-child(95) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-95;
  animation-duration: 10573ms;
  animation-delay: 4219ms;
}
@keyframes move-frames-95 {
  from {
    transform: translate3d(23vw, 110vh, 0);
  }
  to {
    transform: translate3d(83vw, -138vh, 0);
  }
}
.circle-container:nth-child(95) .circle {
  animation-delay: 1172ms;
}
.circle-container:nth-child(96) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-96;
  animation-duration: 10352ms;
  animation-delay: 10578ms;
}
@keyframes move-frames-96 {
  from {
    transform: translate3d(25vw, 101vh, 0);
  }
  to {
    transform: translate3d(77vw, -123vh, 0);
  }
}
.circle-container:nth-child(96) .circle {
  animation-delay: 2244ms;
}
.circle-container:nth-child(97) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-97;
  animation-duration: 7756ms;
  animation-delay: 7865ms;
}
@keyframes move-frames-97 {
  from {
    transform: translate3d(90vw, 104vh, 0);
  }
  to {
    transform: translate3d(50vw, -110vh, 0);
  }
}
.circle-container:nth-child(97) .circle {
  animation-delay: 1272ms;
}
.circle-container:nth-child(98) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-98;
  animation-duration: 10242ms;
  animation-delay: 3863ms;
}
@keyframes move-frames-98 {
  from {
    transform: translate3d(18vw, 102vh, 0);
  }
  to {
    transform: translate3d(21vw, -113vh, 0);
  }
}
.circle-container:nth-child(98) .circle {
  animation-delay: 1119ms;
}
.circle-container:nth-child(99) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-99;
  animation-duration: 9879ms;
  animation-delay: 8506ms;
}
@keyframes move-frames-99 {
  from {
    transform: translate3d(84vw, 107vh, 0);
  }
  to {
    transform: translate3d(78vw, -121vh, 0);
  }
}
.circle-container:nth-child(99) .circle {
  animation-delay: 1420ms;
}
.circle-container:nth-child(100) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-100;
  animation-duration: 7512ms;
  animation-delay: 9208ms;
}
@keyframes move-frames-100 {
  from {
    transform: translate3d(57vw, 104vh, 0);
  }
  to {
    transform: translate3d(88vw, -107vh, 0);
  }
}
.circle-container:nth-child(100) .circle {
  animation-delay: 2265ms;
}
.circle-container:nth-child(101) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-101;
  animation-duration: 7188ms;
  animation-delay: 10933ms;
}
@keyframes move-frames-101 {
  from {
    transform: translate3d(93vw, 106vh, 0);
  }
  to {
    transform: translate3d(72vw, -113vh, 0);
  }
}
.circle-container:nth-child(101) .circle {
  animation-delay: 1045ms;
}
.circle-container:nth-child(102) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-102;
  animation-duration: 7699ms;
  animation-delay: 7778ms;
}
@keyframes move-frames-102 {
  from {
    transform: translate3d(78vw, 108vh, 0);
  }
  to {
    transform: translate3d(41vw, -138vh, 0);
  }
}
.circle-container:nth-child(102) .circle {
  animation-delay: 4ms;
}
.circle-container:nth-child(103) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-103;
  animation-duration: 9027ms;
  animation-delay: 2218ms;
}
@keyframes move-frames-103 {
  from {
    transform: translate3d(13vw, 105vh, 0);
  }
  to {
    transform: translate3d(18vw, -115vh, 0);
  }
}
.circle-container:nth-child(103) .circle {
  animation-delay: 3674ms;
}
.circle-container:nth-child(104) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-104;
  animation-duration: 10979ms;
  animation-delay: 6093ms;
}
@keyframes move-frames-104 {
  from {
    transform: translate3d(50vw, 108vh, 0);
  }
  to {
    transform: translate3d(19vw, -116vh, 0);
  }
}
.circle-container:nth-child(104) .circle {
  animation-delay: 2325ms;
}
.circle-container:nth-child(105) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-105;
  animation-duration: 10417ms;
  animation-delay: 2307ms;
}
@keyframes move-frames-105 {
  from {
    transform: translate3d(91vw, 106vh, 0);
  }
  to {
    transform: translate3d(36vw, -114vh, 0);
  }
}
.circle-container:nth-child(105) .circle {
  animation-delay: 901ms;
}
.circle-container:nth-child(106) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-106;
  animation-duration: 7731ms;
  animation-delay: 154ms;
}
@keyframes move-frames-106 {
  from {
    transform: translate3d(96vw, 102vh, 0);
  }
  to {
    transform: translate3d(92vw, -103vh, 0);
  }
}
.circle-container:nth-child(106) .circle {
  animation-delay: 1363ms;
}
.circle-container:nth-child(107) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-107;
  animation-duration: 8507ms;
  animation-delay: 4206ms;
}
@keyframes move-frames-107 {
  from {
    transform: translate3d(48vw, 102vh, 0);
  }
  to {
    transform: translate3d(86vw, -118vh, 0);
  }
}
.circle-container:nth-child(107) .circle {
  animation-delay: 842ms;
}
.circle-container:nth-child(108) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-108;
  animation-duration: 7755ms;
  animation-delay: 3324ms;
}
@keyframes move-frames-108 {
  from {
    transform: translate3d(87vw, 102vh, 0);
  }
  to {
    transform: translate3d(3vw, -122vh, 0);
  }
}
.circle-container:nth-child(108) .circle {
  animation-delay: 1761ms;
}
.circle-container:nth-child(109) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-109;
  animation-duration: 7995ms;
  animation-delay: 9222ms;
}
@keyframes move-frames-109 {
  from {
    transform: translate3d(77vw, 102vh, 0);
  }
  to {
    transform: translate3d(31vw, -118vh, 0);
  }
}
.circle-container:nth-child(109) .circle {
  animation-delay: 3912ms;
}
.circle-container:nth-child(110) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-110;
  animation-duration: 7111ms;
  animation-delay: 6336ms;
}
@keyframes move-frames-110 {
  from {
    transform: translate3d(81vw, 101vh, 0);
  }
  to {
    transform: translate3d(17vw, -107vh, 0);
  }
}
.circle-container:nth-child(110) .circle {
  animation-delay: 1889ms;
}
.circle-container:nth-child(111) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-111;
  animation-duration: 7718ms;
  animation-delay: 1421ms;
}
@keyframes move-frames-111 {
  from {
    transform: translate3d(87vw, 102vh, 0);
  }
  to {
    transform: translate3d(73vw, -132vh, 0);
  }
}
.circle-container:nth-child(111) .circle {
  animation-delay: 3834ms;
}
.circle-container:nth-child(112) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-112;
  animation-duration: 8251ms;
  animation-delay: 6493ms;
}
@keyframes move-frames-112 {
  from {
    transform: translate3d(38vw, 109vh, 0);
  }
  to {
    transform: translate3d(79vw, -121vh, 0);
  }
}
.circle-container:nth-child(112) .circle {
  animation-delay: 3262ms;
}
.circle-container:nth-child(113) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-113;
  animation-duration: 10701ms;
  animation-delay: 8908ms;
}
@keyframes move-frames-113 {
  from {
    transform: translate3d(39vw, 110vh, 0);
  }
  to {
    transform: translate3d(95vw, -113vh, 0);
  }
}
.circle-container:nth-child(113) .circle {
  animation-delay: 353ms;
}
.circle-container:nth-child(114) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-114;
  animation-duration: 10702ms;
  animation-delay: 2352ms;
}
@keyframes move-frames-114 {
  from {
    transform: translate3d(31vw, 105vh, 0);
  }
  to {
    transform: translate3d(68vw, -107vh, 0);
  }
}
.circle-container:nth-child(114) .circle {
  animation-delay: 1844ms;
}
.circle-container:nth-child(115) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-115;
  animation-duration: 9122ms;
  animation-delay: 4828ms;
}
@keyframes move-frames-115 {
  from {
    transform: translate3d(48vw, 103vh, 0);
  }
  to {
    transform: translate3d(36vw, -122vh, 0);
  }
}
.circle-container:nth-child(115) .circle {
  animation-delay: 2472ms;
}
.circle-container:nth-child(116) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-116;
  animation-duration: 7983ms;
  animation-delay: 4920ms;
}
@keyframes move-frames-116 {
  from {
    transform: translate3d(95vw, 105vh, 0);
  }
  to {
    transform: translate3d(47vw, -110vh, 0);
  }
}
.circle-container:nth-child(116) .circle {
  animation-delay: 2462ms;
}
.circle-container:nth-child(117) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-117;
  animation-duration: 7969ms;
  animation-delay: 2513ms;
}
@keyframes move-frames-117 {
  from {
    transform: translate3d(89vw, 109vh, 0);
  }
  to {
    transform: translate3d(32vw, -112vh, 0);
  }
}
.circle-container:nth-child(117) .circle {
  animation-delay: 1349ms;
}
.circle-container:nth-child(118) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-118;
  animation-duration: 10360ms;
  animation-delay: 4165ms;
}
@keyframes move-frames-118 {
  from {
    transform: translate3d(6vw, 101vh, 0);
  }
  to {
    transform: translate3d(77vw, -106vh, 0);
  }
}
.circle-container:nth-child(118) .circle {
  animation-delay: 3747ms;
}
.circle-container:nth-child(119) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-119;
  animation-duration: 9210ms;
  animation-delay: 2849ms;
}
@keyframes move-frames-119 {
  from {
    transform: translate3d(10vw, 108vh, 0);
  }
  to {
    transform: translate3d(87vw, -128vh, 0);
  }
}
.circle-container:nth-child(119) .circle {
  animation-delay: 2867ms;
}
.circle-container:nth-child(120) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-120;
  animation-duration: 8718ms;
  animation-delay: 3863ms;
}
@keyframes move-frames-120 {
  from {
    transform: translate3d(59vw, 105vh, 0);
  }
  to {
    transform: translate3d(47vw, -113vh, 0);
  }
}
.circle-container:nth-child(120) .circle {
  animation-delay: 1827ms;
}
.circle-container:nth-child(121) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-121;
  animation-duration: 10576ms;
  animation-delay: 2384ms;
}
@keyframes move-frames-121 {
  from {
    transform: translate3d(78vw, 102vh, 0);
  }
  to {
    transform: translate3d(37vw, -119vh, 0);
  }
}
.circle-container:nth-child(121) .circle {
  animation-delay: 1263ms;
}
.circle-container:nth-child(122) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-122;
  animation-duration: 9625ms;
  animation-delay: 10882ms;
}
@keyframes move-frames-122 {
  from {
    transform: translate3d(76vw, 105vh, 0);
  }
  to {
    transform: translate3d(25vw, -111vh, 0);
  }
}
.circle-container:nth-child(122) .circle {
  animation-delay: 3270ms;
}
.circle-container:nth-child(123) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-123;
  animation-duration: 10825ms;
  animation-delay: 4925ms;
}
@keyframes move-frames-123 {
  from {
    transform: translate3d(40vw, 103vh, 0);
  }
  to {
    transform: translate3d(75vw, -112vh, 0);
  }
}
.circle-container:nth-child(123) .circle {
  animation-delay: 3643ms;
}
.circle-container:nth-child(124) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-124;
  animation-duration: 9736ms;
  animation-delay: 8150ms;
}
@keyframes move-frames-124 {
  from {
    transform: translate3d(63vw, 101vh, 0);
  }
  to {
    transform: translate3d(77vw, -110vh, 0);
  }
}
.circle-container:nth-child(124) .circle {
  animation-delay: 3677ms;
}
.circle-container:nth-child(125) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-125;
  animation-duration: 7920ms;
  animation-delay: 8183ms;
}
@keyframes move-frames-125 {
  from {
    transform: translate3d(47vw, 106vh, 0);
  }
  to {
    transform: translate3d(78vw, -107vh, 0);
  }
}
.circle-container:nth-child(125) .circle {
  animation-delay: 2465ms;
}
.circle-container:nth-child(126) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-126;
  animation-duration: 10404ms;
  animation-delay: 5275ms;
}
@keyframes move-frames-126 {
  from {
    transform: translate3d(67vw, 107vh, 0);
  }
  to {
    transform: translate3d(67vw, -119vh, 0);
  }
}
.circle-container:nth-child(126) .circle {
  animation-delay: 1963ms;
}
.circle-container:nth-child(127) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-127;
  animation-duration: 7795ms;
  animation-delay: 4967ms;
}
@keyframes move-frames-127 {
  from {
    transform: translate3d(52vw, 109vh, 0);
  }
  to {
    transform: translate3d(95vw, -118vh, 0);
  }
}
.circle-container:nth-child(127) .circle {
  animation-delay: 3520ms;
}
.circle-container:nth-child(128) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-128;
  animation-duration: 7849ms;
  animation-delay: 3809ms;
}
@keyframes move-frames-128 {
  from {
    transform: translate3d(45vw, 107vh, 0);
  }
  to {
    transform: translate3d(100vw, -126vh, 0);
  }
}
.circle-container:nth-child(128) .circle {
  animation-delay: 587ms;
}
.circle-container:nth-child(129) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-129;
  animation-duration: 7037ms;
  animation-delay: 10425ms;
}
@keyframes move-frames-129 {
  from {
    transform: translate3d(96vw, 108vh, 0);
  }
  to {
    transform: translate3d(68vw, -120vh, 0);
  }
}
.circle-container:nth-child(129) .circle {
  animation-delay: 1305ms;
}
.circle-container:nth-child(130) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-130;
  animation-duration: 7365ms;
  animation-delay: 4397ms;
}
@keyframes move-frames-130 {
  from {
    transform: translate3d(15vw, 103vh, 0);
  }
  to {
    transform: translate3d(43vw, -111vh, 0);
  }
}
.circle-container:nth-child(130) .circle {
  animation-delay: 2087ms;
}
.circle-container:nth-child(131) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-131;
  animation-duration: 8729ms;
  animation-delay: 1984ms;
}
@keyframes move-frames-131 {
  from {
    transform: translate3d(47vw, 103vh, 0);
  }
  to {
    transform: translate3d(29vw, -118vh, 0);
  }
}
.circle-container:nth-child(131) .circle {
  animation-delay: 1902ms;
}
.circle-container:nth-child(132) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-132;
  animation-duration: 10596ms;
  animation-delay: 4793ms;
}
@keyframes move-frames-132 {
  from {
    transform: translate3d(91vw, 101vh, 0);
  }
  to {
    transform: translate3d(20vw, -110vh, 0);
  }
}
.circle-container:nth-child(132) .circle {
  animation-delay: 722ms;
}
.circle-container:nth-child(133) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-133;
  animation-duration: 10689ms;
  animation-delay: 5431ms;
}
@keyframes move-frames-133 {
  from {
    transform: translate3d(24vw, 102vh, 0);
  }
  to {
    transform: translate3d(29vw, -112vh, 0);
  }
}
.circle-container:nth-child(133) .circle {
  animation-delay: 3632ms;
}
.circle-container:nth-child(134) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-134;
  animation-duration: 7481ms;
  animation-delay: 9196ms;
}
@keyframes move-frames-134 {
  from {
    transform: translate3d(62vw, 107vh, 0);
  }
  to {
    transform: translate3d(2vw, -112vh, 0);
  }
}
.circle-container:nth-child(134) .circle {
  animation-delay: 2850ms;
}
.circle-container:nth-child(135) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-135;
  animation-duration: 7999ms;
  animation-delay: 3446ms;
}
@keyframes move-frames-135 {
  from {
    transform: translate3d(55vw, 110vh, 0);
  }
  to {
    transform: translate3d(76vw, -120vh, 0);
  }
}
.circle-container:nth-child(135) .circle {
  animation-delay: 1950ms;
}
.circle-container:nth-child(136) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-136;
  animation-duration: 8664ms;
  animation-delay: 8601ms;
}
@keyframes move-frames-136 {
  from {
    transform: translate3d(98vw, 107vh, 0);
  }
  to {
    transform: translate3d(60vw, -112vh, 0);
  }
}
.circle-container:nth-child(136) .circle {
  animation-delay: 2917ms;
}
.circle-container:nth-child(137) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-137;
  animation-duration: 9586ms;
  animation-delay: 2866ms;
}
@keyframes move-frames-137 {
  from {
    transform: translate3d(15vw, 109vh, 0);
  }
  to {
    transform: translate3d(64vw, -132vh, 0);
  }
}
.circle-container:nth-child(137) .circle {
  animation-delay: 1453ms;
}
.circle-container:nth-child(138) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-138;
  animation-duration: 9206ms;
  animation-delay: 7790ms;
}
@keyframes move-frames-138 {
  from {
    transform: translate3d(71vw, 104vh, 0);
  }
  to {
    transform: translate3d(9vw, -128vh, 0);
  }
}
.circle-container:nth-child(138) .circle {
  animation-delay: 377ms;
}
.circle-container:nth-child(139) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-139;
  animation-duration: 9005ms;
  animation-delay: 10786ms;
}
@keyframes move-frames-139 {
  from {
    transform: translate3d(75vw, 109vh, 0);
  }
  to {
    transform: translate3d(39vw, -131vh, 0);
  }
}
.circle-container:nth-child(139) .circle {
  animation-delay: 1551ms;
}
.circle-container:nth-child(140) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-140;
  animation-duration: 7922ms;
  animation-delay: 36ms;
}
@keyframes move-frames-140 {
  from {
    transform: translate3d(76vw, 106vh, 0);
  }
  to {
    transform: translate3d(67vw, -130vh, 0);
  }
}
.circle-container:nth-child(140) .circle {
  animation-delay: 1386ms;
}
.circle-container:nth-child(141) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-141;
  animation-duration: 8165ms;
  animation-delay: 4936ms;
}
@keyframes move-frames-141 {
  from {
    transform: translate3d(43vw, 107vh, 0);
  }
  to {
    transform: translate3d(96vw, -109vh, 0);
  }
}
.circle-container:nth-child(141) .circle {
  animation-delay: 2748ms;
}
.circle-container:nth-child(142) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-142;
  animation-duration: 10474ms;
  animation-delay: 2073ms;
}
@keyframes move-frames-142 {
  from {
    transform: translate3d(42vw, 101vh, 0);
  }
  to {
    transform: translate3d(42vw, -117vh, 0);
  }
}
.circle-container:nth-child(142) .circle {
  animation-delay: 1782ms;
}
.circle-container:nth-child(143) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-143;
  animation-duration: 7833ms;
  animation-delay: 8021ms;
}
@keyframes move-frames-143 {
  from {
    transform: translate3d(74vw, 106vh, 0);
  }
  to {
    transform: translate3d(93vw, -116vh, 0);
  }
}
.circle-container:nth-child(143) .circle {
  animation-delay: 409ms;
}
.circle-container:nth-child(144) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-144;
  animation-duration: 10313ms;
  animation-delay: 493ms;
}
@keyframes move-frames-144 {
  from {
    transform: translate3d(20vw, 102vh, 0);
  }
  to {
    transform: translate3d(77vw, -109vh, 0);
  }
}
.circle-container:nth-child(144) .circle {
  animation-delay: 349ms;
}
.circle-container:nth-child(145) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-145;
  animation-duration: 7108ms;
  animation-delay: 1226ms;
}
@keyframes move-frames-145 {
  from {
    transform: translate3d(64vw, 103vh, 0);
  }
  to {
    transform: translate3d(66vw, -126vh, 0);
  }
}
.circle-container:nth-child(145) .circle {
  animation-delay: 3386ms;
}
.circle-container:nth-child(146) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-146;
  animation-duration: 8740ms;
  animation-delay: 7748ms;
}
@keyframes move-frames-146 {
  from {
    transform: translate3d(39vw, 101vh, 0);
  }
  to {
    transform: translate3d(48vw, -121vh, 0);
  }
}
.circle-container:nth-child(146) .circle {
  animation-delay: 1916ms;
}
.circle-container:nth-child(147) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-147;
  animation-duration: 10244ms;
  animation-delay: 10023ms;
}
@keyframes move-frames-147 {
  from {
    transform: translate3d(7vw, 103vh, 0);
  }
  to {
    transform: translate3d(88vw, -108vh, 0);
  }
}
.circle-container:nth-child(147) .circle {
  animation-delay: 1378ms;
}
.circle-container:nth-child(148) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-148;
  animation-duration: 10292ms;
  animation-delay: 6528ms;
}
@keyframes move-frames-148 {
  from {
    transform: translate3d(4vw, 110vh, 0);
  }
  to {
    transform: translate3d(61vw, -129vh, 0);
  }
}
.circle-container:nth-child(148) .circle {
  animation-delay: 1068ms;
}
.circle-container:nth-child(149) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-149;
  animation-duration: 10689ms;
  animation-delay: 5229ms;
}
@keyframes move-frames-149 {
  from {
    transform: translate3d(69vw, 105vh, 0);
  }
  to {
    transform: translate3d(24vw, -115vh, 0);
  }
}
.circle-container:nth-child(149) .circle {
  animation-delay: 169ms;
}
.circle-container:nth-child(150) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-150;
  animation-duration: 8150ms;
  animation-delay: 1365ms;
}
@keyframes move-frames-150 {
  from {
    transform: translate3d(18vw, 103vh, 0);
  }
  to {
    transform: translate3d(57vw, -123vh, 0);
  }
}
.circle-container:nth-child(150) .circle {
  animation-delay: 1171ms;
}
.circle-container:nth-child(151) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-151;
  animation-duration: 10640ms;
  animation-delay: 5967ms;
}
@keyframes move-frames-151 {
  from {
    transform: translate3d(31vw, 109vh, 0);
  }
  to {
    transform: translate3d(1vw, -120vh, 0);
  }
}
.circle-container:nth-child(151) .circle {
  animation-delay: 3771ms;
}
.circle-container:nth-child(152) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-152;
  animation-duration: 7465ms;
  animation-delay: 3481ms;
}
@keyframes move-frames-152 {
  from {
    transform: translate3d(45vw, 110vh, 0);
  }
  to {
    transform: translate3d(88vw, -113vh, 0);
  }
}
.circle-container:nth-child(152) .circle {
  animation-delay: 1843ms;
}
.circle-container:nth-child(153) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-153;
  animation-duration: 9836ms;
  animation-delay: 4562ms;
}
@keyframes move-frames-153 {
  from {
    transform: translate3d(59vw, 104vh, 0);
  }
  to {
    transform: translate3d(83vw, -111vh, 0);
  }
}
.circle-container:nth-child(153) .circle {
  animation-delay: 2497ms;
}
.circle-container:nth-child(154) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-154;
  animation-duration: 10467ms;
  animation-delay: 2587ms;
}
@keyframes move-frames-154 {
  from {
    transform: translate3d(23vw, 106vh, 0);
  }
  to {
    transform: translate3d(85vw, -127vh, 0);
  }
}
.circle-container:nth-child(154) .circle {
  animation-delay: 3873ms;
}
.circle-container:nth-child(155) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-155;
  animation-duration: 10061ms;
  animation-delay: 6746ms;
}
@keyframes move-frames-155 {
  from {
    transform: translate3d(37vw, 102vh, 0);
  }
  to {
    transform: translate3d(15vw, -120vh, 0);
  }
}
.circle-container:nth-child(155) .circle {
  animation-delay: 2077ms;
}
.circle-container:nth-child(156) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-156;
  animation-duration: 8477ms;
  animation-delay: 4017ms;
}
@keyframes move-frames-156 {
  from {
    transform: translate3d(12vw, 108vh, 0);
  }
  to {
    transform: translate3d(62vw, -132vh, 0);
  }
}
.circle-container:nth-child(156) .circle {
  animation-delay: 2020ms;
}
.circle-container:nth-child(157) {
  width: 2px;
  height: 2px;
  animation-name: move-frames-157;
  animation-duration: 8524ms;
  animation-delay: 3457ms;
}
@keyframes move-frames-157 {
  from {
    transform: translate3d(60vw, 103vh, 0);
  }
  to {
    transform: translate3d(32vw, -118vh, 0);
  }
}
.circle-container:nth-child(157) .circle {
  animation-delay: 3613ms;
}
.circle-container:nth-child(158) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-158;
  animation-duration: 7539ms;
  animation-delay: 9458ms;
}
@keyframes move-frames-158 {
  from {
    transform: translate3d(26vw, 104vh, 0);
  }
  to {
    transform: translate3d(76vw, -129vh, 0);
  }
}
.circle-container:nth-child(158) .circle {
  animation-delay: 3495ms;
}
.circle-container:nth-child(159) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-159;
  animation-duration: 7171ms;
  animation-delay: 7962ms;
}
@keyframes move-frames-159 {
  from {
    transform: translate3d(41vw, 108vh, 0);
  }
  to {
    transform: translate3d(89vw, -123vh, 0);
  }
}
.circle-container:nth-child(159) .circle {
  animation-delay: 853ms;
}
.circle-container:nth-child(160) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-160;
  animation-duration: 10622ms;
  animation-delay: 4356ms;
}
@keyframes move-frames-160 {
  from {
    transform: translate3d(19vw, 108vh, 0);
  }
  to {
    transform: translate3d(65vw, -116vh, 0);
  }
}
.circle-container:nth-child(160) .circle {
  animation-delay: 2788ms;
}
.circle-container:nth-child(161) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-161;
  animation-duration: 8861ms;
  animation-delay: 2576ms;
}
@keyframes move-frames-161 {
  from {
    transform: translate3d(91vw, 104vh, 0);
  }
  to {
    transform: translate3d(93vw, -129vh, 0);
  }
}
.circle-container:nth-child(161) .circle {
  animation-delay: 3129ms;
}
.circle-container:nth-child(162) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-162;
  animation-duration: 9016ms;
  animation-delay: 10874ms;
}
@keyframes move-frames-162 {
  from {
    transform: translate3d(26vw, 106vh, 0);
  }
  to {
    transform: translate3d(72vw, -113vh, 0);
  }
}
.circle-container:nth-child(162) .circle {
  animation-delay: 1178ms;
}
.circle-container:nth-child(163) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-163;
  animation-duration: 10340ms;
  animation-delay: 1739ms;
}
@keyframes move-frames-163 {
  from {
    transform: translate3d(49vw, 110vh, 0);
  }
  to {
    transform: translate3d(51vw, -137vh, 0);
  }
}
.circle-container:nth-child(163) .circle {
  animation-delay: 295ms;
}
.circle-container:nth-child(164) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-164;
  animation-duration: 8721ms;
  animation-delay: 2764ms;
}
@keyframes move-frames-164 {
  from {
    transform: translate3d(92vw, 102vh, 0);
  }
  to {
    transform: translate3d(97vw, -104vh, 0);
  }
}
.circle-container:nth-child(164) .circle {
  animation-delay: 1572ms;
}
.circle-container:nth-child(165) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-165;
  animation-duration: 9450ms;
  animation-delay: 7207ms;
}
@keyframes move-frames-165 {
  from {
    transform: translate3d(78vw, 101vh, 0);
  }
  to {
    transform: translate3d(67vw, -107vh, 0);
  }
}
.circle-container:nth-child(165) .circle {
  animation-delay: 3989ms;
}
.circle-container:nth-child(166) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-166;
  animation-duration: 8179ms;
  animation-delay: 8515ms;
}
@keyframes move-frames-166 {
  from {
    transform: translate3d(77vw, 109vh, 0);
  }
  to {
    transform: translate3d(14vw, -139vh, 0);
  }
}
.circle-container:nth-child(166) .circle {
  animation-delay: 2962ms;
}
.circle-container:nth-child(167) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-167;
  animation-duration: 9625ms;
  animation-delay: 1272ms;
}
@keyframes move-frames-167 {
  from {
    transform: translate3d(99vw, 108vh, 0);
  }
  to {
    transform: translate3d(35vw, -125vh, 0);
  }
}
.circle-container:nth-child(167) .circle {
  animation-delay: 3363ms;
}
.circle-container:nth-child(168) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-168;
  animation-duration: 8618ms;
  animation-delay: 8821ms;
}
@keyframes move-frames-168 {
  from {
    transform: translate3d(27vw, 109vh, 0);
  }
  to {
    transform: translate3d(43vw, -131vh, 0);
  }
}
.circle-container:nth-child(168) .circle {
  animation-delay: 1086ms;
}
.circle-container:nth-child(169) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-169;
  animation-duration: 10598ms;
  animation-delay: 2485ms;
}
@keyframes move-frames-169 {
  from {
    transform: translate3d(68vw, 105vh, 0);
  }
  to {
    transform: translate3d(32vw, -132vh, 0);
  }
}
.circle-container:nth-child(169) .circle {
  animation-delay: 1429ms;
}
.circle-container:nth-child(170) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-170;
  animation-duration: 7474ms;
  animation-delay: 9652ms;
}
@keyframes move-frames-170 {
  from {
    transform: translate3d(45vw, 105vh, 0);
  }
  to {
    transform: translate3d(29vw, -120vh, 0);
  }
}
.circle-container:nth-child(170) .circle {
  animation-delay: 229ms;
}
.circle-container:nth-child(171) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-171;
  animation-duration: 7675ms;
  animation-delay: 4547ms;
}
@keyframes move-frames-171 {
  from {
    transform: translate3d(36vw, 104vh, 0);
  }
  to {
    transform: translate3d(17vw, -129vh, 0);
  }
}
.circle-container:nth-child(171) .circle {
  animation-delay: 1854ms;
}
.circle-container:nth-child(172) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-172;
  animation-duration: 7595ms;
  animation-delay: 6713ms;
}
@keyframes move-frames-172 {
  from {
    transform: translate3d(17vw, 104vh, 0);
  }
  to {
    transform: translate3d(87vw, -122vh, 0);
  }
}
.circle-container:nth-child(172) .circle {
  animation-delay: 3383ms;
}
.circle-container:nth-child(173) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-173;
  animation-duration: 9433ms;
  animation-delay: 10762ms;
}
@keyframes move-frames-173 {
  from {
    transform: translate3d(89vw, 103vh, 0);
  }
  to {
    transform: translate3d(86vw, -109vh, 0);
  }
}
.circle-container:nth-child(173) .circle {
  animation-delay: 979ms;
}
.circle-container:nth-child(174) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-174;
  animation-duration: 10533ms;
  animation-delay: 1817ms;
}
@keyframes move-frames-174 {
  from {
    transform: translate3d(17vw, 105vh, 0);
  }
  to {
    transform: translate3d(13vw, -131vh, 0);
  }
}
.circle-container:nth-child(174) .circle {
  animation-delay: 533ms;
}
.circle-container:nth-child(175) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-175;
  animation-duration: 7881ms;
  animation-delay: 8451ms;
}
@keyframes move-frames-175 {
  from {
    transform: translate3d(24vw, 101vh, 0);
  }
  to {
    transform: translate3d(80vw, -129vh, 0);
  }
}
.circle-container:nth-child(175) .circle {
  animation-delay: 233ms;
}
.circle-container:nth-child(176) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-176;
  animation-duration: 10107ms;
  animation-delay: 9442ms;
}
@keyframes move-frames-176 {
  from {
    transform: translate3d(17vw, 103vh, 0);
  }
  to {
    transform: translate3d(89vw, -127vh, 0);
  }
}
.circle-container:nth-child(176) .circle {
  animation-delay: 2599ms;
}
.circle-container:nth-child(177) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-177;
  animation-duration: 9687ms;
  animation-delay: 214ms;
}
@keyframes move-frames-177 {
  from {
    transform: translate3d(24vw, 105vh, 0);
  }
  to {
    transform: translate3d(91vw, -127vh, 0);
  }
}
.circle-container:nth-child(177) .circle {
  animation-delay: 3620ms;
}
.circle-container:nth-child(178) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-178;
  animation-duration: 10083ms;
  animation-delay: 2766ms;
}
@keyframes move-frames-178 {
  from {
    transform: translate3d(99vw, 105vh, 0);
  }
  to {
    transform: translate3d(29vw, -134vh, 0);
  }
}
.circle-container:nth-child(178) .circle {
  animation-delay: 1118ms;
}
.circle-container:nth-child(179) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-179;
  animation-duration: 9582ms;
  animation-delay: 1161ms;
}
@keyframes move-frames-179 {
  from {
    transform: translate3d(6vw, 101vh, 0);
  }
  to {
    transform: translate3d(30vw, -106vh, 0);
  }
}
.circle-container:nth-child(179) .circle {
  animation-delay: 1625ms;
}
.circle-container:nth-child(180) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-180;
  animation-duration: 10789ms;
  animation-delay: 8427ms;
}
@keyframes move-frames-180 {
  from {
    transform: translate3d(85vw, 103vh, 0);
  }
  to {
    transform: translate3d(77vw, -120vh, 0);
  }
}
.circle-container:nth-child(180) .circle {
  animation-delay: 2886ms;
}
.circle-container:nth-child(181) {
  width: 3px;
  height: 3px;
  animation-name: move-frames-181;
  animation-duration: 9272ms;
  animation-delay: 8793ms;
}
@keyframes move-frames-181 {
  from {
    transform: translate3d(10vw, 103vh, 0);
  }
  to {
    transform: translate3d(1vw, -118vh, 0);
  }
}
.circle-container:nth-child(181) .circle {
  animation-delay: 920ms;
}
.circle-container:nth-child(182) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-182;
  animation-duration: 7368ms;
  animation-delay: 9162ms;
}
@keyframes move-frames-182 {
  from {
    transform: translate3d(21vw, 110vh, 0);
  }
  to {
    transform: translate3d(46vw, -114vh, 0);
  }
}
.circle-container:nth-child(182) .circle {
  animation-delay: 3699ms;
}
.circle-container:nth-child(183) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-183;
  animation-duration: 10010ms;
  animation-delay: 9242ms;
}
@keyframes move-frames-183 {
  from {
    transform: translate3d(46vw, 106vh, 0);
  }
  to {
    transform: translate3d(40vw, -128vh, 0);
  }
}
.circle-container:nth-child(183) .circle {
  animation-delay: 3064ms;
}
.circle-container:nth-child(184) {
  width: 6px;
  height: 6px;
  animation-name: move-frames-184;
  animation-duration: 10009ms;
  animation-delay: 3285ms;
}
@keyframes move-frames-184 {
  from {
    transform: translate3d(53vw, 110vh, 0);
  }
  to {
    transform: translate3d(41vw, -131vh, 0);
  }
}
.circle-container:nth-child(184) .circle {
  animation-delay: 1965ms;
}
.circle-container:nth-child(185) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-185;
  animation-duration: 10584ms;
  animation-delay: 7957ms;
}
@keyframes move-frames-185 {
  from {
    transform: translate3d(74vw, 103vh, 0);
  }
  to {
    transform: translate3d(66vw, -110vh, 0);
  }
}
.circle-container:nth-child(185) .circle {
  animation-delay: 3259ms;
}
.circle-container:nth-child(186) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-186;
  animation-duration: 8412ms;
  animation-delay: 6267ms;
}
@keyframes move-frames-186 {
  from {
    transform: translate3d(1vw, 105vh, 0);
  }
  to {
    transform: translate3d(42vw, -114vh, 0);
  }
}
.circle-container:nth-child(186) .circle {
  animation-delay: 2554ms;
}
.circle-container:nth-child(187) {
  width: 4px;
  height: 4px;
  animation-name: move-frames-187;
  animation-duration: 10462ms;
  animation-delay: 410ms;
}
@keyframes move-frames-187 {
  from {
    transform: translate3d(58vw, 110vh, 0);
  }
  to {
    transform: translate3d(16vw, -135vh, 0);
  }
}
.circle-container:nth-child(187) .circle {
  animation-delay: 3013ms;
}
.circle-container:nth-child(188) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-188;
  animation-duration: 7974ms;
  animation-delay: 10859ms;
}
@keyframes move-frames-188 {
  from {
    transform: translate3d(1vw, 109vh, 0);
  }
  to {
    transform: translate3d(97vw, -110vh, 0);
  }
}
.circle-container:nth-child(188) .circle {
  animation-delay: 1753ms;
}
.circle-container:nth-child(189) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-189;
  animation-duration: 7590ms;
  animation-delay: 9060ms;
}
@keyframes move-frames-189 {
  from {
    transform: translate3d(34vw, 101vh, 0);
  }
  to {
    transform: translate3d(10vw, -125vh, 0);
  }
}
.circle-container:nth-child(189) .circle {
  animation-delay: 3956ms;
}
.circle-container:nth-child(190) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-190;
  animation-duration: 9138ms;
  animation-delay: 9892ms;
}
@keyframes move-frames-190 {
  from {
    transform: translate3d(1vw, 109vh, 0);
  }
  to {
    transform: translate3d(64vw, -137vh, 0);
  }
}
.circle-container:nth-child(190) .circle {
  animation-delay: 2074ms;
}
.circle-container:nth-child(191) {
  width: 1px;
  height: 1px;
  animation-name: move-frames-191;
  animation-duration: 10554ms;
  animation-delay: 5073ms;
}
@keyframes move-frames-191 {
  from {
    transform: translate3d(36vw, 106vh, 0);
  }
  to {
    transform: translate3d(81vw, -130vh, 0);
  }
}
.circle-container:nth-child(191) .circle {
  animation-delay: 2796ms;
}
.circle-container:nth-child(192) {
  width: 9px;
  height: 9px;
  animation-name: move-frames-192;
  animation-duration: 8718ms;
  animation-delay: 1213ms;
}
@keyframes move-frames-192 {
  from {
    transform: translate3d(56vw, 103vh, 0);
  }
  to {
    transform: translate3d(80vw, -122vh, 0);
  }
}
.circle-container:nth-child(192) .circle {
  animation-delay: 755ms;
}
.circle-container:nth-child(193) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-193;
  animation-duration: 8180ms;
  animation-delay: 2534ms;
}
@keyframes move-frames-193 {
  from {
    transform: translate3d(71vw, 105vh, 0);
  }
  to {
    transform: translate3d(91vw, -113vh, 0);
  }
}
.circle-container:nth-child(193) .circle {
  animation-delay: 700ms;
}
.circle-container:nth-child(194) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-194;
  animation-duration: 7993ms;
  animation-delay: 788ms;
}
@keyframes move-frames-194 {
  from {
    transform: translate3d(7vw, 103vh, 0);
  }
  to {
    transform: translate3d(22vw, -112vh, 0);
  }
}
.circle-container:nth-child(194) .circle {
  animation-delay: 1204ms;
}
.circle-container:nth-child(195) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-195;
  animation-duration: 9922ms;
  animation-delay: 2362ms;
}
@keyframes move-frames-195 {
  from {
    transform: translate3d(38vw, 109vh, 0);
  }
  to {
    transform: translate3d(53vw, -133vh, 0);
  }
}
.circle-container:nth-child(195) .circle {
  animation-delay: 436ms;
}
.circle-container:nth-child(196) {
  width: 8px;
  height: 8px;
  animation-name: move-frames-196;
  animation-duration: 7759ms;
  animation-delay: 10758ms;
}
@keyframes move-frames-196 {
  from {
    transform: translate3d(89vw, 104vh, 0);
  }
  to {
    transform: translate3d(15vw, -118vh, 0);
  }
}
.circle-container:nth-child(196) .circle {
  animation-delay: 3813ms;
}
.circle-container:nth-child(197) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-197;
  animation-duration: 10175ms;
  animation-delay: 693ms;
}
@keyframes move-frames-197 {
  from {
    transform: translate3d(6vw, 107vh, 0);
  }
  to {
    transform: translate3d(34vw, -109vh, 0);
  }
}
.circle-container:nth-child(197) .circle {
  animation-delay: 1371ms;
}
.circle-container:nth-child(198) {
  width: 7px;
  height: 7px;
  animation-name: move-frames-198;
  animation-duration: 9610ms;
  animation-delay: 9923ms;
}
@keyframes move-frames-198 {
  from {
    transform: translate3d(10vw, 106vh, 0);
  }
  to {
    transform: translate3d(22vw, -108vh, 0);
  }
}
.circle-container:nth-child(198) .circle {
  animation-delay: 994ms;
}
.circle-container:nth-child(199) {
  width: 5px;
  height: 5px;
  animation-name: move-frames-199;
  animation-duration: 10057ms;
  animation-delay: 3145ms;
}
@keyframes move-frames-199 {
  from {
    transform: translate3d(97vw, 101vh, 0);
  }
  to {
    transform: translate3d(87vw, -121vh, 0);
  }
}
.circle-container:nth-child(199) .circle {
  animation-delay: 1664ms;
}
.circle-container:nth-child(200) {
  width: 10px;
  height: 10px;
  animation-name: move-frames-200;
  animation-duration: 7324ms;
  animation-delay: 1243ms;
}
@keyframes move-frames-200 {
  from {
    transform: translate3d(92vw, 107vh, 0);
  }
  to {
    transform: translate3d(38vw, -120vh, 0);
  }
}
.circle-container:nth-child(200) .circle {
  animation-delay: 3075ms;
}

/*# sourceMappingURL=particles.css.map */
