<script setup lang="ts">
import axios from "axios";
import {ref, onMounted} from "vue";

interface Page {
  "id": 4,
  "meta": {
      "type": string,
      "detail_url": string,
      "html_url": string,
      "slug": string,
      "first_published_at": string
  },
  "title": string,
  "intro": string,
  "body": string,
  "header": string
}

interface PageResponse {
  meta: {
    total_count: number,
  },
  items: Array<Page>
};

const pages = ref<Array<Page>>([]);

onMounted( async () => {
  const resp = await axios
    .get<PageResponse>('http://127.0.0.1:8000/api/v2/pages/?type=news.NewsPage&fields=intro,body,header');

  if ( resp.data ) {
    pages.value.push(...resp.data.items);
  }
})
</script>

<template>
  <section>
    <h1 class="margin-bottom-4">Blog</h1>
    <div v-for="page in pages" class="card">
      <a :href="page.meta.detail_url">
        <div class="card__img-container">
          <img v-if="page.header" :src="page.header" class="preview-img"  alt="Preview image"/>
        </div>
        <div class="column">
          <h2>{{ page.title }}</h2>
          <h5>{{ page.intro }}</h5>
          <p v-html="page.body.length > 100 ? page.body.slice(0, 97) + '...' : page.body"></p>
        </div>
      </a>
    </div>
  </section>
</template>
